* {
  font-family: 'Outfit', sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  background-color: hsl(212, 45%, 89%);
}

body {
  max-width: 60em;

  margin: 0 auto;
  padding: 0 1em;
  overflow-y: hidden;
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

.qr-wrapper {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.qr-container {
  display: flex;
  flex-direction: column;

  width: 31%;
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  border-radius: 1rem;
}

.qr-img {
  width: 100%;
  border-radius: 1rem;
  display: block;
}
.qr-heading {
  margin-bottom: 0;
  padding-bottom: 0;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 1.4rem;
}
.qr-details {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  width: 95%;
  font-size: 1rem;
}

.shadow {
  -webkit-box-shadow: 0px 5px 11px 1px #ccc;
  box-shadow: 0px 5px 11px 1px #ccc;
}

@media (max-width: 425px) {
  .qr-container {
    width: 90%;
  }
  .qr-heading {
    width: 95%;
  }
}
